#s₀=a₁((1−Γ⁰)÷(1−Γ))
import math
sequence=[10,20,30,40,50]
def partial(sequence):
    #Geometric Partial Sum
    if sequence[1]/sequence[0]==sequence[2]/sequence[1] and sequence[2]/sequence[1]==sequence[3]/sequence[2]:
        for s in range(1,len(sequence)-1):
            if sequence[s]/sequence[s-1]==sequence[s+1]/sequence[s]:
                continue
            else:
                psum="There is no common ratio, r."
                return psum
        n=float(input("Choose the nth partial sum that you would like to calculate "))
        r=sequence[1]/sequence[0]
        psum=(sequence[0])*((1-(r**n))/(1-r))
        return psum
    #Arithmetic Partial Sum
    if sequence[1]-sequence[0]==sequence[2]-sequence[1] and sequence[2]-sequence[1]==sequence[3]-sequence[2]:
        for s in range(1,len(sequence)-1):
            if sequence[s]-sequence[s-1]==sequence[s+1]-sequence[s]:
                continue
            else:
                psum="There is no common ratio, r."
                return psum
        n=int(input("Choose the nth partial sum that you would like to calculate "))
        d=sequence[1]-sequence[0]
        psum=(n/2)*(sequence[0]+sequence[len(sequence)-1])
        return psum
    #Neither
    else:
        psum="The given seuqence is neither arithmeitc nor geometric."
        return psum
print(partial(sequence))
